.App {
  text-align: center;
}

.card-box {
  margin: auto;
  height: 55%;
  width: 280px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 16px;
  flex-wrap: nowrap;
}

.workout-card {
  height: 55%;
  width: 150px;
  border-radius: 12px;
  border: 1px solid black;
  margin: auto;
}

.card-image {
  width: 50%;
}